.neutron-viewer{
    background-color :white;
    height :500px;
    width :70%;
    margin-left :auto;
    margin-right :auto;
    padding :15px;
    padding-top :2px ;
    margin-top :40px;
    padding-left :100px ;
    box-shadow: 0.5px 0.5px 20px rgb(126, 126, 126) ;
}

body{
    background-color: whitesmoke ;
}